@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}

.dm-serif {
  font-family: 'DM Serif Text', serif;
}

@layer base {
  :root {

    /* custom colors */
    --blue: 218 50% 34%;
    --peach: 10 83% 81%;
    --cyan: 181 53% 73%;
    /* custom colors */
    --popover-background: #f7b4a7cf;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* custom colors */
    --blue: 218 50% 34%;
    --peach: 10 83% 81%;
    --cyan: 181 53% 73%;
    /* custom colors */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.driver-popover.driverjs-theme {
  background-color: hsl(var(--peach));
  color: #000;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-next-btn,
.driver-popover.driverjs-theme .driver-popover-prev-btn{
  font-family: 'Quicksand', sans-serif;
}
.driver-popover.driverjs-theme .driver-popover-title{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.driver-popover.driverjs-theme .driver-popover-description{
  font-size: 14px;
  font-weight: 500;
}
.driver-popover.driverjs-theme .driver-popover-close-btn {
  display: none!important;
}
.driver-popover.driverjs-theme .driver-popover-next-btn,
.driver-popover.driverjs-theme .driver-popover-prev-btn{
  background-color: hsl(var(--cyan));
  outline: none;
  border: 1px solid hsl(var(--foreground));
  color: #000;
  font-weight: 600;
  font-size: 12px;
  padding: 8px;
  border-radius: 10px;
  text-shadow: none;
}
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #000;
  font-weight: 600;
}